<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
  <title>首页</title>
  <link rel="stylesheet" type="text/css" href="/static/style/main.css">
  <link rel="stylesheet" type="text/css" href="/static/style/index.css">
</head>
<body>
<div class="index" v-cloak>
  <top-header hidelogo="true"></top-header>
  <div class="head_content container">
      <home-header showsearch="true" currentindex="1"></home-header>
  </div>
  <div class="banner">
    <img src="http://sh.linux.tedu.cn/xzt/python/images/banner.jpg">
    <apply-module title="30秒贷款免费申请" button="提交"></apply-module>
  </div>
  <div class="content container">
      <h2>贷款</h2>
      <div class="first_module clearfix">
        <div class="left_module">
            <dl>
              <dt>全国热销产品</dt>
              <dd><a href="">融资租赁</a></dd>
              <dd><a href="">融资租赁</a></dd>
              <dd><a href="">融资租赁</a></dd>
              <dd><a href="">融资租赁</a></dd>
              <dd><a href="">融资租赁</a></dd>
              <dd><a href="">融资租赁</a></dd>
            </dl>
        </div>
        <div class="right_module">
          <h3>城市热销产品</h3>
          <div class="module">
            <ul>
              <li class="clearfix">
              <a href="">
                <img src="/static/images/index/icon1.jpg">
                <div>
                  <h4>你我贷</h4>
                  <p>
                    <span>额度：2万-4万</span>
                    <span>月息：<i>1.5%</i></span>
                    <span>还款方式：等额本息</span>
                    <span>放款方式：<i>1~2天</i></span>
                  </p>
                </div>
              </a>
              </li>
              <li class="clearfix">
              <a href="">
                <img src="/static/images/index/icon1.jpg">
                <div>
                  <h4>你我贷</h4>
                  <p>
                    <span>额度：2万-4万</span>
                    <span>月息：<i>1.5%</i></span>
                    <span>还款方式：等额本息</span>
                    <span>放款方式：<i>1~2天</i></span>
                  </p>
                </div>
              </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="second_module clearfix">
          <div class="left_module">
            <h2>快捷服务</h2>
            <ul class="shortcut clearfix">
              <li>
                <a href=""><img src="/static/images/index/icon1.jpg">小额贷款</a>
              </li>
              <li>
                <a href=""><img src="/static/images/index/icon2.jpg">信用卡申请</a>
              </li>
              <li>
                <a href=""><img src="/static/images/index/icon3.jpg">社保查询</a>
              </li>
              <li>
                <a href=""><img src="/static/images/index/icon4.jpg">公积金查询</a>
              </li>
              <li>
                <a href=""><img src="/static/images/index/icon5.jpg">征信查询</a>
              </li>
              <li>
                <a href=""><img src="/static/images/index/icon6.jpg">保单贷款</a>
              </li>
              <li>
                <a href=""><img src="/static/images/index/icon7.jpg">房产抵押</a>
              </li>
            </ul>
            <h2>今日推荐</h2>
            <div class="recommend clearfix"  v-if="homeDetail.icons">
              <a :href=link.url v-for="link in homeDetail.icons.jrtj.icons">
                <img :src=link.image1>
              </a>
            </div>
          </div>
          <div class="right_module" v-if="homeDetail.icons">
            <h2>热门活动</h2>
            <a :href=homeDetail.icons.rmhd.icons[0].url>
              <img :src=homeDetail.icons.rmhd.icons[0].image1>
            </a>
          </div>
      </div>
      <div class="third_module">
        <video src="http://player.youku.com/player.php/sid/XMjcwODQyMDkxNg==/v.swf" controls="controls"></video>
        <video></video>
      </div>
      <div class="four_module clearfix">
        <div class="left_module news">
          <img src="/static/images/index/new_1.jpg">
          <div class="cont">
            <ul>
              <li class="clearfix"><img src="/static/images/index/new_1.jpg"><a href="">2017年投贷天下最重的一年，加入我们，有你更精彩</a></li>
              <li class="clearfix"><a href="">[长天新闻]  长天信息“投贷天下”平台长天信息“投贷天下”平台长天信息“投贷天下”平台长天信息“投贷天下”平台</a></li>
              <li class="clearfix"><a href="">[长天新闻]  长天信息“投贷天下”平台....</a></li>
              <li class="clearfix"><a href="">[长天新闻]  长天信息“投贷天下”平台....</a></li>
              <li class="clearfix"><a href="">[长天新闻]  长天信息“投贷天下”平台....</a></li>
              <li class="clearfix"><a href="">[长天新闻]  长天信息“投贷天下”平台....</a></li>
            </ul>
          </div>
        </div>
        <div class="right_module news">
          <img src="/static/images/index/new_1.jpg">
          <div class="cont">
            <ul>
              <li class="clearfix"><img src="/static/images/index/new_1.jpg"><a href="">2017年投贷天下最重的一年，加入我们，有你更精彩</a></li>
              <li class="clearfix"><a href="">[长天新闻]  长天信息“投贷天下”平台长天信息“投贷天下”平台长天信息“投贷天下”平台长天信息“投贷天下”平台</a></li>
              <li class="clearfix"><a href="">[长天新闻]  长天信息“投贷天下”平台....</a></li>
              <li class="clearfix"><a href="">[长天新闻]  长天信息“投贷天下”平台....</a></li>
              <li class="clearfix"><a href="">[长天新闻]  长天信息“投贷天下”平台....</a></li>
              <li class="clearfix"><a href="">[长天新闻]  长天信息“投贷天下”平台....</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="five_module" v-if="homeDetail.links">
        <h2>合作机构</h2>
        <ul class="clearfix">
          <li v-for="link in homeDetail.links.hzjg.links">
            <a :href=link.url><img :src=link.image1></a>
          </li>
        </ul>
      </div>
      <div class="six_module">
        <h2>友情链接</h2>
        <ul class="clearfix">
          <li><a href="">百度</a></li>
          <li><a href="">百度</a></li>
          <li><a href="">百度</a></li>
          <li><a href="">捱三顶四爱上的</a></li>
          <li><a href="">百度</a></li>
          <li><a href="">放水电费是发送到</a></li>
          <li><a href="">百度</a></li>
          <li><a href="">百水电费水电费是度</a></li>
          <li><a href="">百度</a></li>
          <li><a href="">百度</a></li>
          <li><a href="">似懂非懂</a></li>
        </ul>
      </div>
  </div>

  <bottom-footer></bottom-footer>
</div>
<script type="text/javascript"  src="/dist/index.js"></script>
</body>
</html>