<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>新闻</title>
  <meta name="description" content="平台大数据,智能搜索,方便,快捷,高效匹配用户,实现轻松办理融资贷款,省时省心" />
  <meta name="keywords" content="周转贷款,经营贷款,利息低贷款,装修贷款,买房贷款,买车贷款,创业贷款,消费贷款,旅游贷款,学习贷款,开店贷款,项目贷款,做生意贷款,扩大经营贷款,购买设备贷款,结婚贷款,急用贷款, 发工资贷款,付货款贷款,工程招标贷款,进货贷款,留学贷款,企业贷款,个人贷款,银行贷款,信用贷款,抵押贷款,快速贷款,小额贷款,融资,人寿保单,车辆保单,按揭房贷款,全款房贷款,商品房贷款,不动产贷款,个人流水贷款,企业流水贷款,企业开票贷款,打卡工资,社保,公积金,全款车,按揭车,供应链贷款,存单质押,资产抵押,商业票据,担保贷款,保单贷款,汽车抵押,房产抵押,设备抵押,设备租赁,设备回租,应收账款,商业保理,大额融资,融资租赁,商业承兑,商业汇票,项目融资,贷款咨询,大额贷款,股权融资,组合贷款,联保贷款,低利息银行贷款,审核简便贷款,不看负债快速贷款,全国可做贷款,简单快速贷款,当天放款贷款,随借随还贷款,纯信用贷款,正规贷款,实时到账贷款,5分钟出额度,仅需个人办理,线上审批,公务员贷款,事业单位贷款,低门槛贷款,先息后本贷款,无违约金贷款,可提前还款贷款,手续简单当天放款"/>
  <link rel="stylesheet" type="text/css" href="/static/style/main.css">
  <link rel="stylesheet" type="text/css" href="/static/style/staticResource.css">
</head>
<body>
<div class="static_resource" v-cloak>
  <top-header></top-header>
  <home-header></home-header>
  <div class="container clearfix">
    <div class="left_content">
    <static-nav currentindex="1"></static-nav>
    </div>
    <div class="right_content news_Detail">
        <h2>{{title}}</h2>
        <div class="content">
          <img src="/static/images/staticResource/news1_banner.jpg" class="banner" v-if="type==1">
          <img src="/static/images/staticResource/news2_banner.jpg" class="banner" v-if="type==2">
          <h3>{{newsDetail.title}}</h3>
          <h4 v-cloak>时间：{{newsDetail.publishTime && new Date(newsDetail.publishTime).pattern('yyyy-MM-dd')}}</h4>
          <div class="news_content" v-html="newsDetail.content">
            
          </div>
        </div>
    </div>
  </div>
  <bottom-footer></bottom-footer>
</div>
<script type="text/javascript"  src="/dist/newsDetail.js"></script>
</body>
</html>