<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>新闻</title>
  <link rel="stylesheet" type="text/css" href="/static/style/main.css?v=1000">
  <link rel="stylesheet" type="text/css" href="/static/style/staticResource.css?v=1000">
</head>
<body>
<div class="static_resource" v-cloak>
  <top-header></top-header>
  <home-header></home-header>
  <div class="container clearfix">
    <div class="left_content">
    <static-nav currentindex="1"></static-nav>
    </div>
    <div class="right_content news_Detail">
        <h2>{{title}}</h2>
        <div class="content">
          <img src="/static/images/staticResource/news1_banner.jpg" class="banner" v-if="type==1">
          <img src="/static/images/staticResource/news2_banner.jpg" class="banner" v-if="type==2">
          <h3>{{newsDetail.title}}</h3>
          <h4 v-cloak>时间：{{newsDetail.publishTime && new Date(newsDetail.publishTime).pattern('yyyy-MM-dd')}}</h4>
          <div class="news_content" v-html="newsDetail.content">
            
          </div>
        </div>
    </div>
  </div>
  <bottom-footer></bottom-footer>
</div>
<script type="text/javascript"  src="/dist/newsDetail.js?v=1000"></script>
</body>
</html>