<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
  <title>产品列表页</title>
  <link rel="stylesheet" type="text/css" href="/static/style/main.css">
  <link rel="stylesheet" type="text/css" href="/static/style/product_list.css">
</head>
<body>
<div class="product_list" v-cloak>
  <top-header hidelogo="true"></top-header>
  <div class="head_content container">
      <logo-module></logo-module>
      <div class="product_nav">
          <ul class="first_nav clearfix">
            <li><a href="/index.html">首页</a></li>
            <li>
              <span class="first_title">贷款人群</span>
              <dl>
                <dd class="pull_subli" v-for="people in datas.peoples">
                    <label @change="selectPeople(people.value)">
                        <input type="checkbox" :value="people.value" v-model="tmpSearchParams.peoples" />
                        <span>{{people.text}}</span>
                    </label>
                </dd>
              </dl>
            </li>
            <li>
              <span class="first_title">资产贷款</span>
              <dl>
                <dd class="pull_subli" v-for="asset in datas.assets"> 
                    <label @change="selectAssets(asset.value)">
                        <input type="checkbox" :value="asset.value" v-model="tmpSearchParams.assets"/>
                        <span>{{asset.text}}</span>
                    </label>
                </dd>
              </dl>
            </li>
            <li>
              <span class="first_title">信用贷款</span>
              <dl>
                <dd class="pull_subli" v-for="credit in datas.credits">
                    <label @change="selectCredit(credit.value)">
                        <input type="checkbox" :value="credit.value" v-model="tmpSearchParams.credits"/>
                        <span>{{credit.text}}</span>
                    </label>
                </dd>
              </dl>
            </li>
            <li>
              <span class="first_title">还款方式</span>
              <dl>
                <dd class="pull_subli" v-for="refund in datas.refunds">
                    <label @change="selectRefund(refund.value)">
                        <input type="checkbox" :value="refund.value" v-model="tmpSearchParams.refunds"/>
                        <span>{{refund.text}}</span>
                    </label>
                </dd>
              </dl>
            </li>
            <li>
              <span class="first_title">机构类型</span>
              <dl>
                <dd class="pull_subli" v-for="institution in datas.institutions">
                    <label @change="selectInstitution(institution.value)">
                        <input type="checkbox" :value="institution.value" v-model="tmpSearchParams.institutions"/>
                        <span>{{institution.text}}</span>
                    </label>
                </dd>
              </dl>
            </li>
          </ul>
      </div>
  </div>
  <div class="banner">
    <img :src="bannerImage[0].image" v-if="bannerImage[0]">
  </div>
  <div class="search_params container">
      已选条件：
      <span v-for="(value,key) in tmpSearchParams" v-if="value.length" @click="deleteCondition(key)">
        <template v-if="key == 'peoples'">
          {{value[0] | peopleValue}}
        </template>
        <template v-if="key == 'assets'">
          {{value[0] | assetsValue}}
        </template>
        <template v-if="key == 'credits'">
          {{value[0] | creditValue}}
        </template>
        <template v-if="key == 'refunds'">
          {{value[0] | refundsValue}}
        </template>
        <template v-if="key == 'institutions'">
          {{value[0] | institutionsValue}}
        </template>
      </span>
      <i @click="deleteConditionAll()">全部清除</i>
  </div>
  <div class="product_search container clearfix">
      <div class="left_product">
        <div class="search_input">
          <span class="title">{{datas.current && datas.current.name}}热销产品</span>
          <div class="search search_keyword">
            <input v-model="searchTmpParams.keyword" placeholder="关键字搜索">
            <i @click="selectKeyword()"></i>
          </div>
          <div class="search search_price">
            <input v-model="searchTmpParams.amount" placeholder="请输入金额">
            <em>万</em>
            <i @click="selectAmount()"></i>
          </div>
        </div>
        <div class="search_list">
          <ul>
            <li class="clearfix" v-for="product in productlist">
            <a :href="'/productDetail.html?id='+product.id">
              <div class="product_img">
                <img :src="product.logo">
              </div>
              <div class="product_msg">
                <h4 class="clearfix">{{product.name}}<i>{{product.type | loanValue}}</i> <span>展开全文</span></h4>
                <div>
                    <span class="first">额度：{{product.minAmount}}万-{{product.maxAmount}}万</span>
                    <span class="second">月息：<i>{{product.interest}}%</i></span>
                    <span class="third">还款方式: {{ product.refundType | refundsValue}}</span>
                    <span class="four">放款速度:<i>{{product.lendingDate}}天</i></span>
                </div>
              </div>
            </a>
            </li>
            
          </ul>

          <p class="nav_page_turn">
            <span class="prev" @click="prevPage()">上一页</span>
            <span>第<i>{{page}}</i>页</span>
            <span class="next" @click="nextPage()">下一页</span>
            <span>共<i>{{productlistDetail.totalPage}}</i>页</span>
          </p>

        </div>
      </div>
      <div class="right_product">
        <dl class="first_module">
            <dt>高效申请</dt>
            <dd @click="showDialog('person')"><img src="/static/images/productList/person.jpg"></dd>
            <dd @click="showDialog('company')"><img src="/static/images/productList/company.jpg"></dd>
            <dt>常用工具</dt>
            <dd class="calculator calculator1">房贷计算器</dd>
            <dd class="calculator calculator2">身价计算器</dd>
            <dd class="calculator calculator3">贷款计算器</dd>
            <dd class="calculator calculator4">税费计算器</dd>
        </dl>
        <dl>
          <dt>贷款咨询顾问</dt>
          <dd class="manager" v-for="agent in agents">
            <img :src="agent.image">
            <div>
              <h4>{{agent.name}} {{agent.mobile}}</h4>
              <span>{{agent.excel}}</span>
              <span>贷款额度：<i>{{agent.amount}}</i>万</span>
            </div>
          </dd>
        </dl>
        <dl>
          <dt>长天金融超市公众号</dt>
          <dd class="qr_code">
            <img src="/static/images/common/qr_code.jpg">
          </dd>

        </dl>
      </div>
  </div>
  <city-change></city-change>
  <person-apply></person-apply>
  <company-apply></company-apply>
  <bottom-footer></bottom-footer>
</div>
<script type="text/javascript"  src="/dist/productList.js"></script>
</body>
</html>