.index{}

.index .banner{
  height: 300px;
  position: relative;
}
.index .banner img{
  position: absolute;
  height: 100%;
  width: 100%;
}
.index .content h2{
  font-size: 16px;
  margin: 15px 0;
  position: relative;
  border-left: 4px solid #e84013;
  padding-left: 13px;
}

.index .content .first_module .left_module{
  float: left;
  border: 1px solid #747474;
  width: 280px;
  height: 372px;
}
.index .content .first_module .left_module h3{
  height: 44px;
  line-height: 44px;
  text-align: center;padding-left
  color: #5877e9;
  font-size: 18px;
  border-bottom: 1px solid #747474;
}
.index .content .first_module .left_module .module{
  height: 327px;
  overflow: scroll;
}
.index .content .first_module .left_module dd{
  border-bottom: 1px solid #747474;
  height: 59px;
  line-height: 59px;
  font-size: 14px;
}
.index .content .first_module .left_module dd:nth-child(7){
  border-bottom: 0;
}
.index .content .first_module .left_module dd a{
  padding-left: 50px;
  display: block;
  height: 100%;
  padding-right: 50px;
  background-image: url('/static/images/index/arrow_icon.png');
  background-repeat: no-repeat;
  background-position: 230px center;
  color: #3c74e3;
  position: relative;
  font-size: 16px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.index .content .first_module .left_module dd a::after{
  position: absolute;
  width: 18px;
  height: 17px;
  content: "";
  top: 22px;
  left: 21px;
  background: url('/static/images/index/house_icon.png');
}
.index .content .first_module .left_module dd a:hover{
  background-color: #d63846;
  background-image: url('/static/images/index/arrow_icon_hover.png');
  color:#FFF;
}
.index .content .first_module .left_module dd a:hover::after{
    background: url('/static/images/index/house_icon_hover.png');
}

.index .content .first_module .right_module{
  float: left;
  height: 372px;
  border: 1px solid #747474;
  margin-left: 10px;
  width: 930px;
  overflow: hidden;
}
.index .content .first_module .right_module h3{
  height: 44px;
  line-height: 44px;
  text-align: center;padding-left
  color: #5877e9;
  font-size: 16px;
}
.index .content .first_module .right_module .module{
  height: 327px;
  overflow: scroll;
  padding: 0 2px;
}
.index .content .first_module .right_module .module li {
  padding: 4px 10px;
  border-bottom: 1px solid #bbbbbb;
  color: #8e8d8d;
  overflow: hidden;
}
.index .content .first_module .right_module .module li a{
  display: block;
}

.index .content .first_module .right_module .module li img{
  width: 50px;
  height: 50px;
  float: left;
  -webkit-box-shadow :1px 1px 5px #000;
  -ms-box-shadow :1px 1px 5px #000;
  box-shadow :1px 1px 5px #000;
  margin-right: 15px;
}
.index .content .first_module .right_module .module li div{
  float: left;
}
.index .content .first_module .right_module .module li div h4{
  font-size: 15px;
  color: #666666;
}
.index .content .first_module .right_module .module li div p span{
  display: inline-block;
  font-size: 14px;
  width: 200px;
}
.index .content .first_module .right_module .module li div p span:nth-child(2) i{
  color: #f51741;
  font-size: 18px;
}
.index .content .first_module .right_module .module li div p span:nth-child(4) i{
  color: #000;
  font-size: 18px;
}

.index .content .second_module .left_module{
  width: 970px;
  float: left;
  overflow: hidden;
}
.index .content .second_module .left_module .shortcut li{
  width: 130px;
  float: left;
  border-right: 1px solid #aaaaaa;
  text-align: center;
}

.index .content .second_module .left_module .shortcut li:last-child{
  border-right: 0;
}
.index .content .second_module .left_module .shortcut li img{
  display: block;
  margin: 5px auto;

}
.index .content .second_module .left_module .recommend a{
  width: 220px;
  display: block;
  float: left;
  height: 140px;
  margin-right: 15px;
}
.index .content .second_module .left_module .recommend a:last-child{
  margin-right: 0;
}
.index .content .second_module .left_module .recommend a img{
  width: 100%;
  height: 100%;
}
.index .content .second_module .right_module{
  float: left;
  width: 250px;
  overflow: hidden;
  height: 393px;
}
.index .content .second_module .right_module .swiper{
  position: relative;
}
.index .content .second_module .right_module .swiper ul li{
  height: 342px;
  overflow: hidden;
  float: left;

}
.index .content .second_module .right_module .swiper .dots{
  position: absolute;
  width: 100%;
  height: 20px;
  left: 0;
  bottom: 0;
  text-align: center;
}
.index .content .second_module .right_module .swiper .dots li{
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  text-indent: -999em;
  border: 2px solid #fff;
  border-radius: 6px;
  cursor: pointer;
  opacity: .4;
}
.index .content .second_module .right_module .swiper .dots li.active{
  opacity: 1;
  background: #FFF;
}
.index .content .second_module .right_module a{
  display: block;
  width: 100%;
  height: 100%;
}
.index .content .second_module .right_module a img{
  width: 100%;
  height: 100%;
}
.index .content .third_module{
  height: 260px;
  overflow: hidden;
}
.index .content .third_module video{
  padding: 0;
  margin: 0;
  background: #000;
  float: left;
}
.index .content .third_module video:first-child{
  margin-right: 10px;
}

.index .content .third_module div{
  width: 240px;
  float: left;
  height: 100%;
  text-align: center;
}
.index .content .third_module div img{
  margin-top: 40px;
  width: 140px;
}
.index .content .third_module div p{
  font-size: 16px;
  margin-top: 10px;
  color: #666666;
}
.index .content .four_module{
  margin-top: 25px;
}
.index .content .four_module .news{
  width: 50%;
  float: left;
  padding-right: 40px;
}
.index .content .four_module .news>a>img{
  float: left;
  margin-right: 20px;
}
.index .content .four_module .news .cont{
  float: left;
  width: 350px;
}
.index .content .four_module .news li{
  padding:5px 0; 
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.index .content .four_module .news li:hover a{
 text-decoration: underline;
}
.index .content .four_module .news li:first-child{
  margin-bottom: 30px;
  white-space: normal;
}

.index .content .four_module .news li img{
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 25px;
}
.index .content .four_module .news li:first-child{
  font-size: 16px;
}

.index .content .five_module li{
  float: left;
  width: 12.5%;
  margin: 10px 0;
}
.index .content .five_module li img{
  width: 120px;
  height: 34px;
  border: 1px solid #cbcbcb;
  display: block;
}
.index .content .six_module ul{
  border-top: 1px solid #cbcbcb;
}
.index .content .six_module li{
  float: left;
  width: 12.5%;
  margin: 10px 0;

}